@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
:root {
  --text-font: Roboto;
  --backup-font: sans-serif;
  --project-title: "Carter One";
  --project-title-backup: "Patua One";
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--text-font), var(--backup-font);
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #eee;/*#dfdfdf; */
}

h1,
h2 {
  color: #333333;
}

.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.container {
    width: 80%;
    margin-left: 10%;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem;
}

.header {
  display: flex;
}
.speech-bubble {
  margin-top: 3rem;
  height: 8rem;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #00bfb6;
  border-top: 15px solid transparent;
  right: -1.2rem;
  bottom: 0rem;
}

.image-michael {
  height: 20rem;
  margin-bottom: 3rem;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.contact-me {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-icon {
  height: 8rem;
  width: 8rem;
  margin: 2rem;
}
.skills-icon:hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}

.project-container {
  height:100%;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  gap: 5rem;
  margin-top: 2rem;
}

.project {
 background-color: #4066E0;
 border: 2px solid #22277A;
 border-radius: 1rem;
 padding: 0 1rem 0 1rem;
}

.project > p, .project-list > p {
  margin-bottom: 1rem;
}

.title {
  color: #ffffff;
  text-shadow: 0 0 5px #000;
  font-family: var(--project-title), var(--project-title-backup);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0rem;
  margin-top: 2rem;
}
.button {
  background-color: #663399;
  color: white;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button.filter {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}